<div class="pagetop-container">
    <div class="content-title">
        CARS LIST
    </div>
</div>

<div class="tables-container">
    <div class="table-style">
      <p-table [value]="configurationData" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr class="table-data-format">
            <th>Code</th>
            <th>Key</th>
            <th>Value</th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-config let-index="index">
          <tr class="table-data-format">
            <td>{{ config.code }}</td>
            <td>{{ config.key }}</td>
            <td>{{ config.value }}</td>
            <td>
              <button>
                <div class="add-config-btn pointer">
                  Edit
                </div>
              </button>
              <button>
                <div class="add-config-btn pointer">
                  Delete
                </div>
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
