<div class="pagetop-container">
    <div class="content-title">
        CARS LIST
    </div>

    <button (click)="showcarPopup()">
      <div class="add-car-btn pointer">
        Add
      </div>
    </button>
</div>

<div class="tables-container">
    <div class="table-style">
      <p-table [value]="carList" [tableStyle]="{ 'min-width': '50rem' }" [rows]="10" [paginator]="true">
        <ng-template pTemplate="header">
          <tr class="table-data-format">
            <th>Brand</th>
            <th>Model</th>
            <th>Color</th>
            <th>Build Year</th>
            <th>Status</th>
            <th>Rate</th>
            <th>License Plate</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-car let-index="index">
          <tr class="table-data-format">
            <td>{{ car.brand }}</td>
            <td>{{ car.model }}</td>
            <td>{{ car.color }}</td>
            <td>{{ car.buildYear }}</td>
            <td>{{ car.status }}</td>
            <td>{{ car.rate }}</td>
            <td>{{ car.licensePlate }}</td>
            <td>
              <button (click)="populateForm(car)">
                <div class="add-config-btn pointer">
                  Edit
                </div>
              </button>
              <button (click)="deleteCar(car)">
                <div class="act-delete-btn pointer">
                  Delete
                </div>
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
</div>

<p-dialog [(visible)]="carVisible" [style]="{'width': '400px'}">
  <div class="popup-container" id="popupcar">
    <div class="popup-child">
      <button (click)="hidecarPopup()" class="popup-close">
        <img src="/assets/Images/icons/close.svg">
      </button>
      <p class="popup-subhead">Add Cars</p>

      <form [formGroup]="carForm">
        <input class="input-field " type="text" id="brand" formControlName="brand" placeholder="Brand" required />
        <input class="input-field " type="text" id="model" formControlName="model" placeholder="Model" required />
        <input class="input-field " type="text" id="setting" formControlName="make" placeholder="Make" required />
        <input class="input-field " type="text" id="color" formControlName="color" placeholder="Color" required />
        <input class="input-field " type="text" id="BuildYear" formControlName="buildYear" placeholder="Build Year" required />
        <input class="input-field " type="text" id="rate" formControlName="rate" placeholder="Rate" required />
        <input class="input-field " type="text" id="license" formControlName="licensePlate" placeholder="License Plate" required />
        <button class="popup-button" type="submit" (click)="addCar(carForm.value)">{{isUpdate ? 'Update' : 'Add'}} Now</button>
      </form>
    </div>
  </div>
</p-dialog>

<app-document-upload [Extra]="carId" *ngIf="showDocument" #uploadComponent Role="Staff" Type="Image"></app-document-upload>
