<div class="pagetop-container">
    <div class="content-title">
        ADMIN LIST
    </div>

    <button (click)="showadminPopup()">
      <div class="add-car-btn pointer">
        Add
      </div>
    </button>
</div>

<div class="tables-container">
    <div class="table-style">
      <p-table [value]="configurationData" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr class="table-data-format">
            <th>Name</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Email</th>
            <th>Password</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-config let-index="index">
          <tr class="table-data-format">
            <td>{{ config.code }}</td>
            <td>{{ config.key }}</td>
            <td>{{ config.value }}</td>
            <td>{{ config.value }}</td>
            <td>{{ config.value }}</td>
            <td>
              <button>
                <div class="add-config-btn pointer">
                  Edit
                </div>
              </button>
              <button>
                <div class="add-config-btn pointer">
                  Delete
                </div>
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

<p-dialog [(visible)]="adminVisible" [style]="{'width': '400px'}">
  <div class="popup-container" id="popupadmin">
    <div class="popup-child">
      <button (click)="hideadminPopup()" class="popup-close">
        <img src="/assets/Images/icons/close.svg">
      </button>
      <p class="popup-subhead">Sign Up Admin</p>

      <form [formGroup]="adminForm">
        <input class="input-field " type="text" id="name" formControlName="Name" placeholder="Name" required />
        <input class="input-field " type="text" id="phone" formControlName="Phone" placeholder="Phone" required />
        <input class="input-field " type="text" id="address" formControlName="Address" placeholder="Address" required />
        <input class="input-field " type="text" id="email" formControlName="Email" placeholder="Email" required />
        <input class="input-field " type="password" id="password" formControlName="Password" placeholder="Enter Password" required />
        <input class="input-field " type="password" id="confirmpassword" formControlName="ConfirmPassword" placeholder="Repeat Password" required />

        <button class="popup-button" type="submit">Register Now</button>
      </form>
    </div>
  </div>
</p-dialog>
