<div class="cust-land-container">
    <div class="cust-land-title">Welcome to Hajur ko Car Rental Services!</div>
    <div class="offer-tab">
        <p class="offer-title">Special Offers This Month</p>
        <div class="offer-content">
            <div class="offer-card" *ngFor="let offer of offers">
                <div class="ofrcrd-main">{{offer.offerName}}</div>
                <div class="ofrcrd-sub">{{offer.offerDescription}}</div>
            </div>
        </div>
    </div>
    <div class="cust-land-lower">
        <div class="cust-land-lower-left">
            <p class="cust-lower-titles">Rent a car now</p>
            <div class="rent-card-comp">
                <img src="/assets/Images/lexus-lfa.jpg" class="rent-card-img" />
                <p class="rent-card-title">{{mostRentedCar.brand}} {{mostRentedCar.model}}</p>
                <p class="rent-card-detail">Rate: {{mostRentedCar.rate}}</p>
                <p class="rent-card-detail">Color: {{mostRentedCar.color}}</p>
                <p class="rent-card-detail">Build Year: {{mostRentedCar.buildYear}}</p>
                <div class="rent-now-redirect" (click)="viewCar()">Rent Now >></div>
            </div>
        </div>

        <div class="cust-land-lower-right">
            <div class="cust-land-lower-right-upper">
                <p class="cust-lower-titles">Current Billing Information</p>
                <div class="billing-info-comp">
                    <img src="/assets/Images/lexus-lfa.jpg" class="rent-card-img">
                    <p>Car Hired: </p>
                    <p>Car Rate: </p>
                    <p>Days Hired: </p>
                    <p>Damages Cost: </p>
                    <p>Total Cost: </p>
                    <p>Payment Status: </p>
                </div>
            </div>
            <a routerLink="/customer/history">
                <div class="cust-land-lower-right-lower">
                    <div class="view-history-collective">
                        <img src="/assets/Images/lexus-lfa.jpg" class="view-history-img">
                        <img src="/assets/Images/lexus-lfa.jpg" class="view-history-img">
                        <img src="/assets/Images/lexus-lfa.jpg" class="view-history-img">
                    </div>
                    <div class="view-hstry-text">View history >></div>
                </div>
            </a>
        </div>
    </div>
</div>
