.cust-land-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0% 12%;
    font-family: 'Poppins', sans-serif;
}

.cust-land-title{
    display: flex;
    flex-direction: column;
    font-size: 40px;
    margin-top: unset;
    padding-bottom: 3%  ;
}

.cust-land-lower{
    display:flex;
    justify-content: center;
}

.landtext-subtitle{
    font-size: 35px;
    margin: unset;
}

.cust-landtext-content{
    margin-top: 5%;
    font-size: 25px;
}

.cust-landlower-img{
    width: 52%;
    border-radius: 20px;
}

.offer-tab{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 2%;
    margin-bottom: 3%;
}

.offer-title{
    font-size: 30px;
    margin: unset;
    padding-bottom: 2%;
}

.offer-content{
    display: flex;
    justify-content: space-evenly;
}

.offer-card{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.ofrcrd-main{
    font-size: 24px;
    padding-bottom: 1.5%;
    color: #93592C;
}

.ofrcrd-sub{
    font-size: 22px;
    padding-bottom: 3%;
}

.card-buttons-cont{
    display: flex;
    padding-top: 2%;
    gap: 3%;
}

.card-buttons{
    background-color: none !important;
    border: none !important;
    background-color: #ffffff;
}

.card-buttons:active{
    background-color: #f4f4f4;
}

.cust-land-lower{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.cust-land-lower-left, .cust-land-lower-right{
    background: #FFFFFF;
    width: 48.5%;
}

.cust-land-lower-left{
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 2%;
    height: 100%;
}

.cust-land-lower-right{
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}

.cust-land-lower-right-upper{
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 4%;
    margin-bottom: 5%;
}

.cust-land-lower-right-lower{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 4%;
}

.rent-card-comp{
    display: flex;
    flex-direction: column;
    background: #93592C;
    border-radius: 20px;
    padding: 5%;
    margin-bottom: 5%;
    color: #ffffff;
}

.rent-card-img{
    border-radius: 15px;
    margin-bottom: 3%;
}

.cust-lower-titles{
    font-weight: 500;
    font-size: 22px;
    margin: unset;
    padding-bottom: 2%;
}

.rent-card-title{
    font-size: 500;
    font-size: 24px;
    margin: unset;
}

.rent-card-detail{
    font-size: 18px;
}

.rent-now-redirect{
    display: flex;
    justify-content: right;
}

.view-more-cars{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #93592C;
    width: 25%;
    padding: 2%;
    border-radius: 15px;
    color: #ffffff;
}

.rent-card-img{
    width: 100%;
}

.view-history-collective{
    display: flex;
    align-items: center;
    width: 70%;
}

.view-history-img{
    width: 20%;
}

.view-hstry-text{
    font-size: 22px;
}

a{
    text-decoration: none;
    color: #000000;
}