<div class="cust-land-container">
    <div class="cust-land-title">Welcome to Hajur ko Car Rental Services!</div>
    <div class="offer-tab">
        <p class="offer-title">Special Offers This Month</p>
        <div class="offer-content">
            <div class="offer-card">
                <div class="ofrcrd-main">For the month of May,</div>
                <div class="ofrcrd-sub">Get 20% off on your rent bill  when you rent any car from Hajur ko Car Rental</div>
                <div class="card-buttons-cont">
                    <button class="card-buttons">
                        <img src="/assets/Images/icons/black/left-arrow.svg">
                    </button>
                    <button class="card-buttons">
                        <img src="/assets/Images/icons/black/right-arrow.svg">
                    </button>
                </div>
            </div>

            <div class="offer-card">
                <div class="ofrcrd-main">Free Pen with every rent</div>
                <div class="ofrcrd-sub">Get an exclusive pen free with every rent from Hajur ko Car Rental</div>
                <div class="card-buttons-cont">
                    <button class="card-buttons">
                        <img src="/assets/Images/icons/black/left-arrow.svg">
                    </button>
                    <button class="card-buttons">
                        <img src="/assets/Images/icons/black/right-arrow.svg">
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="cust-land-lower">
        <div class="cust-land-lower-left">
            <p>Rent a car now</p>
            <div class="rent-card-comp">
                <div class="rent-card-cont"></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div></div>
        </div>
        <div>
            <div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>
