<div class="cust-land-container">
    <div class="cust-land-title">Welcome to Hajur ko Car Rental Services!</div>
    <div class="offer-tab">
        <p class="offer-title">Special Offers This Month</p>
        <div class="offer-content">
            <div class="offer-card">
                <div class="ofrcrd-main">For the month of May,</div>
                <div class="ofrcrd-sub">Get 20% off on your rent bill  when you rent any car from Hajur ko Car Rental</div>
                <div class="card-buttons-cont">
                    <button class="card-buttons">
                        <img src="/assets/Images/icons/black/left-arrow.svg">
                    </button>
                    <button class="card-buttons">
                        <img src="/assets/Images/icons/black/right-arrow.svg">
                    </button>
                </div>
            </div>

            <div class="offer-card">
                <div class="ofrcrd-main">Free Pen with every rent</div>
                <div class="ofrcrd-sub">Get an exclusive pen free with every rent from Hajur ko Car Rental</div>
                <div class="card-buttons-cont">
                    <button class="card-buttons">
                        <img src="/assets/Images/icons/black/left-arrow.svg">
                    </button>
                    <button class="card-buttons">
                        <img src="/assets/Images/icons/black/right-arrow.svg">
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="cust-land-lower">
        <div class="cust-land-lower-left">
            <p class="cust-lower-titles">Rent a car now</p>
            <div class="rent-card-comp">
                <img src="/assets/Images/lexus-lfa.jpg" class="rent-card-img" />
                <p class="rent-card-title">Lexus LFA</p>
                <p class="rent-card-detail">Rate: </p>
                <div class="rent-now-redirect">Rent Now >></div>
            </div>
            <div class="view-more-cars">View More Cars</div>
        </div>

        <div class="cust-land-lower-right">
            <div class="cust-land-lower-right-upper">
                <p class="cust-lower-titles">Current Billing Information</p>
                <div class="billing-info-comp">
                    <img src="/assets/Images/lexus-lfa.jpg" class="rent-card-img">
                    <p>Car Hired: </p>
                    <p>Car Rate: </p>
                    <p>Days Hired: </p>
                    <p>Damages Cost: </p>
                    <p>Total Cost: </p>
                    <p>Payment Status: </p>
                </div>
            </div>
            <a>
                <div class="cust-land-lower-right-lower">
                    <div class="view-history-collective">
                        <img src="/assets/Images/lexus-lfa.jpg" class="view-history-img">
                        <img src="/assets/Images/lexus-lfa.jpg" class="view-history-img">
                        <img src="/assets/Images/lexus-lfa.jpg" class="view-history-img">
                    </div>
                    <div class="view-hstry-text">View history >></div>
                </div>
            </a>
        </div>
    </div>
</div>
