<div class="pagetop-container">
    <div class="content-title">
        SALES HISTORY
    </div>
</div>

<div class="filter-cont">
    <p class="sub-title">Total Income: <p>
    <div>
        <form [formGroup]="filterForm" class="filter-data-cont">
            <input formControlName="userName" class="offer-field " type="text" placeholder="Requested By" required/>
            <input formControlName="authorizedBy" class="offer-field " type="text" placeholder="Approved By" required/>
            <p-calendar formControlName="startDate" placeholder="Start Date" appendTo="body"></p-calendar>
            <p-calendar formControlName="endDate" placeholder="End Date" appendTo="body"></p-calendar>
        </form>
    </div>
</div>

<div class="filter-btn-cont">
    <button class="filter-btn" (click)="filter()">
        Filter
    </button>
    <button class="reset-btn" (click)="reset()">
        Reset
    </button>
</div>

<div class="tables-container">
    <div class="table-style">
      <p-table [value]="salesList" [tableStyle]="{ 'min-width': '50rem' }" [rows]="10" [paginator]="true">
        <ng-template pTemplate="header">
            <tr class="table-data-format">
                <th>Car Name:</th>
                <th>Rate (Rs/day):</th>
                <th>Count:</th>
                <th>Total Sales (Rs):</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-sales let-index="index">
            <tr class="table-data-format">
                <td>{{sales.carName}}</td>
                <td>{{sales.rate}}</td>
                <td>{{sales.count}}</td>
                <td>{{sales.total}}</td>
            </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
