<p-dialog [visible]="true">
    <div class="popup-container" id="popupstaff">
      <div class="popup-child">
        <div>
            <p class="popup-title">Upload Documents</p>
            <div class="upload-section">
                <div class="upload-doc-cont">
                    <div class="upload-doc-img">
                        <img src="/assets/Images/icons/doc-upload.svg" />
                    </div>
                    <p class="upload-doc-cont-sub">Supported formats: PNG, PDF (Under 1.5MB)</p>
                </div>

                <div class="upload-doc-bot">
                    <div class="upload-btn">Upload File</div>
                    <div class="select-form-cont">
                        <div class="select-form-cont-items">
                            <p-radioButton name="document" value="citizenship" [(ngModel)]="selectedDocument"></p-radioButton>
                            <p>Citizenship</p>
                        </div>
                        <div class="select-form-cont-items">
                            <p-radioButton name="document" value="license" [(ngModel)]="selectedDocument"></p-radioButton>
                            <p>Driver's License</p>
                        </div>
                    </div>
                    <div class="skip-btn-align">
                        <div class="skip-btn">Skip</div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </p-dialog>