<p-dialog [visible]="true">
  <div class="popup-container" id="popupstaff">
    <div class="popup-child">
      <div>
        <p class="popup-title">Upload Documents</p>
        <div class="upload-section">
          <div class="upload-doc-cont">
            <div class="upload-doc-img" (click)="openFileUpload()">
              <img class="attachment-preview" src="{{ fileUrl ? fileUrl : '/assets/Images/icons/doc-upload.svg'}}"/>
              <p-fileUpload style="display: none" #tFileUploadButton (onSelect)="selectFile($event)"
                            [customUpload]="true" [multiple]="false" [maxFileSize]="1.5 * 1024 * 1024"/>
            </div>
            <p class="upload-doc-cont-sub">Supported formats: PNG{{type === 'Document' ? ', PDF' : ''}} (Under
              1.5MB)</p>
          </div>
          <div class="upload-doc-bot">
            <div class="upload-btn" (click)="uploadDocument()">Upload File</div>
            <div class="select-form-cont">
              <div class="select-form-cont-items">
                <p-radioButton name="document" value="citizenship" [(ngModel)]="selectedDocument"></p-radioButton>
                <p>Citizenship</p>
              </div>
              <div class="select-form-cont-items">
                <p-radioButton name="document" value="license" [(ngModel)]="selectedDocument"></p-radioButton>
                <p>Driver's License</p>
              </div>
            </div>
            <div class="skip-btn-align">
              <div class="skip-btn">Skip</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
