<div class="pagetop-container">
    <div class="content-title">
        RENTAL LIST
    </div>
</div>

<div class="tables-container">
    <div class="table-style">
      <p-table [value]="configurationData" [tableStyle]="{ 'min-width': '50rem' }" [rows]="10" [paginator]="true">
        <ng-template pTemplate="header">
          <tr class="table-data-format">
            <th>Requested By:</th>
            <th>Car:</th>
            <th>Start Date:</th>
            <th>End Date:</th>
            <th>Status:</th>
            <th>Action:</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-config let-index="index">
          <tr class="table-data-format">
            <td>{{ config.requestedBy }}</td>
            <td>{{ config.carId }}</td>
            <td>{{ config.startDate }}</td>
            <td>{{ config.endDate }}</td>
            <td [formGroup]="rentalForm">
                <div class="add-config-btn pointer">
                  <p-multiSelect [options]="rentalStatus" [selectionLimit]="1" [(ngModel)]="selectedStatus[config.requestedBy]" display="chip"></p-multiSelect>
                </div>
            </td>
            <td>
                <button>
                    <div class="add-config-btn pointer">
                    Generate Bill
                    </div>
                </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
