<div class="profile-container">
    <div class="profile-section">
        <p class="profile-title">Ryan Linkerton</p>
        <div class="profile-data-items">
            <div class="profile-data-item-container">
                <p>Rents Completed: </p>
                <div class="profile-data-icon-container">
                    <img src="/assets/Images/icons/white/car.svg" />
                </div>
            </div>

            <div class="profile-data-item-container">
                <p>Member Type:</p>
                <div class="profile-data-icon-container">
                    <img src="/assets/Images/icons/white/user-type.svg" />
                </div>
            </div>
        </div>

        <div class="personal-details-cont">
            <div class="personal-details">
                <p>Address: </p>
                <p>Email: </p>
                <p>Phone: </p>
                <p>Verification: </p>
            </div>

            <div class="profile-btns">
                <button>
                    <div class="edit-prof-btn">
                        <img src="/assets/Images/icons/white/user.svg" />
                        <p>Edit Profile</p>
                    </div>
                </button>

                <button>
                    <div class="change-pw-btn">
                        <img src="/assets/Images/icons/white/edit.svg" />
                        <p>Change Password</p>
                    </div>
                </button>
            </div>
        </div>
    </div>

    <div class="profile-last-rent">
        <p class="profile-last-rent-title">Last Rented Car:</p>
        <img src="/assets/Images/lexus-lfa.jpg" class="profile-last-rent-img" />
        <div class="profile-last-rent-details">
            <p class="profile-last-rent-sub">Lexus LFA</p>
            <p>Returned On: </p>
            <p>Payment Confirmation: </p>
            <button>
                <div class="change-pw-btn">
                    <p>Return Now</p>
                    <img src="/assets/Images/icons/white/arrow-right.svg" />
                </div>
            </button>
        </div>

        <div class="history-btn-holder">
            <button>
                <div class="view-history-btn">
                    <img src="" />
                    <p>View History</p>
                </div>
            </button>
        </div>
    </div>
</div>