<div class="profile-container">
    <div class="profile-section">
        <p class="profile-title">{{userDto.name}}'s Profile</p>
        <div class="profile-data-items"></div>

        <div class="personal-details-cont">
          <div *ngIf="!isEditMode" class="personal-details">
            <p>Name: {{userDto.name}}</p>
            <p>Address: {{userDto.address}}</p>
            <p>Email: {{userDto.email}}</p>
            <p>Phone Number: {{userDto.phoneNumber}}</p>
            <div class="verification-section">
              <p>Verifications:
              <ng-container *ngIf="userDto.document; else uploadDocument">
                <i class="fas fa-check-circle"></i>
              </ng-container>
              <ng-template #uploadDocument>
                <i class="fas fa-times-circle"></i>
                <button class="updoc-btn">Upload Document</button>
              </ng-template></p>
            </div>
          </div>

          <div *ngIf="isEditMode" class="personal-details">
            <p>Name: <input [(ngModel)]="editedUserDto.name" class="edit-input"></p>
            <p>Address: <input [(ngModel)]="editedUserDto.address" class="edit-input"></p>
            <p>Email: <input [(ngModel)]="editedUserDto.email" class="edit-input"></p>
            <p>Phone Number: <input [(ngModel)]="editedUserDto.phoneNumber" class="edit-input"></p>
          </div>

          <div class="profile-btns">
            <button *ngIf="!isEditMode" (click)="isEditMode=true">
              <div class="edit-prof-btn">
                <img src="/assets/Images/icons/white/user.svg" />
                <p>Edit Profile</p>
              </div>
            </button>

            <button *ngIf="isEditMode" (click)="onSave()">
              <div class="change-pw-btn">
                <img src="/assets/Images/icons/white/wrench.svg" />
                <p>Save</p>
              </div>
            </button>

            <button *ngIf="isEditMode" (click)="onCancel()">
              <div class="edit-prof-btn">
                <img src="/assets/Images/icons/close.svg" />
                <p>Cancel</p>
              </div>
            </button>

            <button *ngIf="!isEditMode">
              <div class="change-pw-btn">
                <img src="/assets/Images/icons/white/edit.svg" />
                <p>Change Password</p>
              </div>
            </button>
          </div>
        </div>
      </div>

    <div class="profile-last-rent">
        <p class="profile-last-rent-title">Last Rented Car:</p>
        <img src="/assets/Images/lexus-lfa.jpg" class="profile-last-rent-img" />
        <div class="profile-last-rent-details">
            <p class="profile-last-rent-sub">Lexus LFA</p>
            <p>Returned On: </p>
            <p>Payment Confirmation: </p>
            <button>
                <div class="change-pw-btn">
                    <p>Return Now</p>
                    <img src="/assets/Images/icons/white/arrow-right.svg" />
                </div>
            </button>
        </div>

        <div class="history-btn-holder">
            <button>
                <div class="view-history-btn">
                    <img src="/assets/Images/icons/white/reverse.svg" />
                    <p>View History</p>
                </div>
            </button>
        </div>
    </div>
</div>
