<div class="nav-container">
  <div>
    <p class="main-title">Hajur ko Car Rental</p>

    <a class="pointer">
      <div class="nav-items" routerLink="/dashboard" routerLinkActive="active">
        <div class="navitm-container" routerLinkActive="active">
          <img src="/assets/Images/icons/teal/home.svg" />
        </div>
        Dashboard
      </div>
    </a>
    <a class="pointer">
      <div class="nav-items" routerLink="/clients" routerLinkActive="active">
        <div class="navitm-container" routerLinkActive="active">
          <img src="/assets/Images/icons/teal/chart.svg" />
        </div>
        Clients
      </div>
    </a>
    <a class="pointer">
      <div class="nav-items" routerLink="/cars" routerLinkActive="active">
        <div class="navitm-container" routerLinkActive="active">
          <img src="/assets/Images/icons/teal/car.svg" />
        </div>
        Cars
      </div>
    </a>
    <a class="pointer">
      <div class="nav-items" routerLink="/rentals" routerLinkActive="active">
        <div class="navitm-container" routerLinkActive="active">
          <img src="/assets/Images/icons/teal/creditcard.svg" />
        </div>
        Rentals
      </div>
    </a>
    <a class="pointer">
      <div class="nav-items" routerLink="/bills" routerLinkActive="active">
        <div class="navitm-container" routerLinkActive="active">
          <img src="/assets/Images/icons/teal/creditcard.svg" />
        </div>
        Billing
      </div>
    </a>
    <a class="pointer">
      <div class="nav-items" routerLink="/damages" routerLinkActive="active">
        <div class="navitm-container"  routerLinkActive="active">
          <img src="/assets/Images/icons/teal/wrench.svg" />
        </div>
        Damages
      </div>
    </a>

    <ng-container *ngIf="is.admin">
      <p class="sub-title">Admin</p>

      <a class="pointer">
        <div class="nav-items" routerLink="/user/profile" routerLinkActive="active">
          <div class="navitm-container" routerLinkActive="active">
            <img src="/assets/Images/icons/teal/user2.svg" />
          </div>
          Profile
        </div>
      </a>
      <a class="pointer">
        <div class="nav-items" routerLink="/admin/admins" routerLinkActive="active">
          <div class="navitm-container" routerLinkActive="active">
            <img src="/assets/Images/icons/teal/document.svg" />
          </div>
          Admin
        </div>
      </a>
      <a class="pointer">
        <div class="nav-items" routerLink="/admin/staffs" routerLinkActive="active">
          <div class="navitm-container" routerLinkActive="active">
            <img src="/assets/Images/icons/teal/rocket.svg" />
          </div>
          Staff
        </div>
      </a>
      <a class="pointer">
        <div class="nav-items" routerLink="/admin/config" routerLinkActive="active">
          <div class="navitm-container" routerLinkActive="active">
            <img src="/assets/Images/icons/teal/wrench.svg" />
          </div>
          Configuration
        </div>
      </a>
    </ng-container>
  </div>

  <div>
    <a class="pointer">
      <div class="nav-items" (click)="service.logout()">
        <div class="navitm-container" routerLinkActive="active">
          <img src="/assets/Images/icons/teal/logout.svg" />
        </div>
        Logout
      </div>
    </a>
  </div>

</div>
