<div class="nav-container">
  <p class="main-title">Hajur ko Car Rental</p>

  <a href="/Dashboard">
    <div class="nav-items active">
      <div class="navitm-container active">
        <img src="/Images/icons/teal/home.svg" />
      </div>
      Dashboard
    </div>
  </a>
  <a href="/Clients">
    <div class="nav-items">
      <div class="navitm-container">
        <img src="/Images/icons/teal/chart.svg" />
      </div>
      Clients
    </div>
  </a>
  <a href="/Cars">
    <div class="nav-items">
      <div class="navitm-container">
        <img src="/Images/icons/teal/car.svg" />
      </div>
      Cars
    </div>
  </a>
  <a href="/Billing">
    <div class="nav-items">
      <div class="navitm-container">
        <img src="/Images/icons/teal/creditcard.svg" />
      </div>
      Billing
    </div>
  </a>
  <a href="/Damages">
    <div class="nav-items">
      <div class="navitm-container">
        <img src="/Images/icons/teal/wrench.svg" />
      </div>
      Damages
    </div>
  </a>

  <p class="sub-title">Account Pages</p>

  <a href="/Profile">
    <div class="nav-items">
      <div class="navitm-container">
        <img src="/Images/icons/teal/user2.svg" />
      </div>
      Profile
    </div>
  </a>
  <a href="/SignUpAdmin">
    <div class="nav-items">
      <div class="navitm-container">
        <img src="/Images/icons/teal/document.svg" />
      </div>
      Sign Up Admin
    </div>
  </a>
  <a href="/SignUpStaff">
    <div class="nav-items">
      <div class="navitm-container">
        <img src="/Images/icons/teal/rocket.svg" />
      </div>
      Sign Up Staff
    </div>
  </a>

</div>
