  <!-- ADD/UPDATE CONFIG FORM -->
  <div class="pagetop-container">
    <div class="content-title">
        ADD CONFIGURATION
    </div>
  </div>

<div class="config-entry">
  <form [formGroup]="configForm" (ngSubmit)="isUpdate ? updateConfig(configForm.value) : addConfig(configForm.value)">
    <div class="entry-fields">
      <label for="code">Code:</label>
      <input class="input-field" type="text" id="code" formControlName="code">
    </div>
    <div class="entry-fields">
      <label for="key">Key:</label>
      <input class="input-field" type="text" id="key" formControlName="key">
    </div>
    <div class="entry-fields">
      <label for="value">Value:</label>
      <input class="input-field" type="text" id="value" formControlName="value">
    </div>
    
    <button type="submit" [disabled]="configForm.invalid">
      <div class="add-config-btn pointer">
        {{ isUpdate ? 'Update' : 'Add' }}
      </div>
    </button>
    
    <button (click)="resetForm()" *ngIf="isUpdate">
      <div class="add-config-btn pointer">
        Cancel
      </div>
    </button>
  </form>
</div>

<!-- CONFIG TABLE -->
<div class="tables-container">
  <div class="table-style">
    <p-table [value]="configurationData" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr class="table-data-format">
          <th>Code</th>
          <th>Key</th>
          <th>Value</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-config let-index="index">
        <tr class="table-data-format">
          <td>{{ config.code }}</td>
          <td>{{ config.key }}</td>
          <td>{{ config.value }}</td>
          <td>
            <button (click)="populateForm(config)">
              <div class="add-config-btn pointer">
                Edit
              </div>
            </button>
            <button (click)="deleteConfig(config)">
              <div class="act-delete-btn pointer">
                Delete
              </div>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>