<div class="history-container">
    <div class="history-top-cont">
        <p class="profile-title">Ryan Linkerton</p>
        <div class="profile-data-items">
            <div class="profile-data-item-container">
                <p>Rents Completed: {{totalRentalsMade}} </p>
                <div class="profile-data-icon-container">
                    
                    <img src="/assets/Images/icons/white/car.svg" />
                </div>
            </div>

            <div class="profile-data-item-container">
                <p>Member Type:</p>
                <div class="profile-data-icon-container">
                    <img src="/assets/Images/icons/white/user-type.svg" />
                </div>
            </div>
        </div>
    </div>

    <div class="history-detail-container">
        <div class="view-rent-btn-align">
            <div class="view-rents-btn-cont">
                <a routerLink="/customer/return">
                    <div class="rent-button">
                        Current Rent >>
                    </div>
                </a>
            </div>
        </div>

        <div class="history-content">
            <div class="history-items">
                <img src="/assets/Images/lexus-lfa.jpg" class="history-item-img" />
                <div class="history-details">
                    <p class="history-item-sub">Lexus LFA</p>
                    <p>Total Cost: </p>
                    <p>Payment Confirmation: </p>
                    <p>Rate: </p>
                    <p>Rented From: </p>
                    <p>Rented To: </p>
                    <p>Total Days Rented: </p>
                    <p>Damages Cost: </p>
                    <p>Discount: </p>
                </div>
            </div>

            <div class="history-items">
                <img src="/assets/Images/lexus-lfa.jpg" class="history-item-img" />
                <div class="history-details">
                    <p class="history-item-sub">Lexus LFA</p>
                    <p>Total Cost: </p>
                    <p>Payment Confirmation: </p>
                    <p>Rate: </p>
                    <p>Rented From: </p>
                    <p>Rented To: </p>
                    <p>Total Days Rented: </p>
                    <p>Damages Cost: </p>
                    <p>Discount: </p>
                </div>
            </div>

            <div class="history-items">
                <img src="/assets/Images/lexus-lfa.jpg" class="history-item-img" />
                <div class="history-details">
                    <p class="history-item-sub">Lexus LFA</p>
                    <p>Total Cost: </p>
                    <p>Payment Confirmation: </p>
                    <p>Rate: </p>
                    <p>Rented From: </p>
                    <p>Rented To: </p>
                    <p>Total Days Rented: </p>
                    <p>Damages Cost: </p>
                    <p>Discount: </p>
                </div>
            </div>

            <div class="history-items">
                <img src="/assets/Images/lexus-lfa.jpg" class="history-item-img" />
                <div class="history-details">
                    <p class="history-item-sub">Lexus LFA</p>
                    <p>Total Cost: </p>
                    <p>Payment Confirmation: </p>
                    <p>Rate: </p>
                    <p>Rented From: </p>
                    <p>Rented To: </p>
                    <p>Total Days Rented: </p>
                    <p>Damages Cost: </p>
                    <p>Discount: </p>
                </div>
            </div>
        </div>
    </div>
</div>
