<div class="return-container">
    <div class="return-title">
        Return Rented Car
    </div>

    <div class="return-card">
        <div class="return-card-content">
            <div class="return-card-align">
                <img src="/assets/Images/lexus-lfa.jpg" class="return-card-img" />
                <div class="return-card-details">
                    <p class="returncard-title">Lexus LFA</p>
                    <p>Rate: </p>
                    <p>Rented Date: </p>
                    <p>From: </p>
                    <p>To: </p>
                    <p>Days Overdue: </p>
                    <p>Total Days: </p>
                </div>
            </div>
        </div>
        
        <div class="return-card-btn">
            <a routerLink="/customer/damages">
                <div class="report-dmg-btn">
                    <p>Report Damage</p>
                    <img src="/assets/Images/icons/white/car-damage.svg" />
                </div>
            </a>

            <button (click)="showbillingPopup()">
                <div class="gen-bil-btn">
                    <p>Generate Bill</p>
                    <img src="/assets/Images/icons/white/arrow-right.svg" />
                </div>
            </button>
        </div>
    </div>
</div>

<p-dialog [(visible)]="billingVisible" [style]="{'width': '400px'}">
    <div class="popup-container" id="popupbilling">
      <div class="popup-child">
        <p class="popup-title">Rent Billing</p>
  
        <div>
            <div class="billing-details-cont">
                <p>Name: </p>
                <p>Memember Type: </p>
                <p>Rent Cost: </p>
                <p>Discount: </p>
                <p>Offer Discount: </p>
                <p>Damage Cost: </p>
                <p>Discount Cost: </p>
            </div>
            <p class="billing-total-cont">Total Cost: </p>
        </div>

        <div class="billing-card-btn">
            <button (click)="hidebillingPopup()" class="popup-close">
                <div class="cancel-btn">
                    Cancel
                </div>
            </button>
            <button class="popup-close">
                <div class="pay-staff-btn">
                    Pay Staff
                </div>
            </button>
        </div>
      </div>
    </div>
</p-dialog>