<div class="pagetop-container">
    <div class="content-title">
        DAMAGES LIST
    </div>
</div>

<div class="tables-container">
    <div class="table-style">
      <p-table [value]="configurationData" [tableStyle]="{ 'min-width': '50rem' }" [rows]="10" [paginator]="true">
        <ng-template pTemplate="header">
          <tr class="table-data-format">
            <th>Damage ID</th>
            <th>Rental ID</th>
            <th>Description</th>
            <th>Damaged Parts</th>
            <th>Repair Cost</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-damage let-index="index">
          <tr class="table-data-format">
            <td>{{ damage.damageId }}</td>
            <td>{{ damage.rentalId }}</td>
            <td>{{ damage.description }}</td>
            <td>{{ damage.damagedParts }}</td>
            <td>
              <button (click)="showaddCostPopup(damage)">
                <div class="add-config-btn pointer">
                  Add Cost
                </div>
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

<p-dialog [(visible)]="addCostVisible" [style]="{'width': '400px'}">
  <div class="popup-container" id="popupaddcost">
    <div class="popup-child">
      <button (click)="hideaddCostPopup()" class="popup-close">
        <img src="/assets/Images/icons/close.svg">
      </button>
      <p class="popup-subhead">Damage Details</p>

      <form [formGroup]="staffForm">
        <input class="offer-field" type="text" formControlName="Cost" placeholder="Repair cost" required />
        <button class="popup-button" type="submit" (click)="completeDamage()">Add Cost</button>
      </form>
    </div>
  </div>
</p-dialog>
