<div class="pagetop-container">
    <div class="content-title">
        DAMAGES LIST
    </div>
</div>

<div class="tables-container">
    <div class="table-style">
      <p-table [value]="configurationData" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr class="table-data-format">
            <th>Damage ID</th>
            <th>Rental ID</th>
            <th>Description</th>
            <th>Damaged Parts</th>
            <th>Customer Name</th>
            <th>Repair Cost</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-config let-index="index">
          <tr class="table-data-format">
            <td>{{ config.code }}</td>
            <td>{{ config.key }}</td>
            <td>{{ config.value }}</td>
            <td>{{ config.value }}</td>
            <td>{{ config.value }}</td>
            <td>
              <button (click)="showaddCostPopup()">
                <div class="add-config-btn pointer">
                  Add Cost
                </div>
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

<p-dialog [(visible)]="addCostVisible" [style]="{'width': '400px'}">
  <div class="popup-container" id="popupaddcost">
    <div class="popup-child">
      <button (click)="hideaddCostPopup()" class="popup-close">
        <img src="/assets/Images/icons/close.svg">
      </button>
      <p class="popup-subhead">Damage Details</p>

      <form [formGroup]="staffForm">
        <input class="input-field" type="text" formControlName="DamageID" placeholder="Damage ID" required />
        <input class="input-field" type="text" formControlName="RentalID" placeholder="Rental ID" required />
        <input class="input-field" type="text" formControlName="Description" placeholder="Description" required />
        <input class="input-field" type="text" formControlName="Damages" placeholder="Damaged Parts" required />
        <input class="input-field" type="text" formControlName="CustomerName" placeholder="Customer Name" required />
        <input class="input-field" type="text" formControlName="Cost" placeholder="Repair cost" required />

        <button class="popup-button" type="submit">Add Cost</button>
      </form>
    </div>
  </div>
</p-dialog>
