<div class="pagetop-container">
    <div class="content-title">
        DASHBOARD
    </div>
</div>

<div class="stats-container">
  <div class="stc-container">
    <div class="stc-left">
      <div class="stc-titles">Total Cars</div>
      <div class="stc-data">Number</div>
    </div>
    <div class="stc-right">
      <img src="/assets/Images/icons/white/ttlcars.svg" />
    </div>
  </div>

  <div class="stc-container">
    <div class="stc-left">
      <div class="stc-titles">Total Repairs</div>
      <div class="stc-data">Number</div>
    </div>
    <div class="stc-right">
      <img src="/assets/Images/icons/white/ttlrepairs.svg" />
    </div>
  </div>

  <div class="stc-container">
    <div class="stc-left">
      <div class="stc-titles">Total Cars on Rent</div>
      <div class="stc-data">Number</div>
    </div>
    <div class="stc-right">
      <img src="/assets/Images/icons/white/ttlcorent.svg" />
    </div>
  </div>

  <div class="stc-container">
    <div class="stc-left">
      <div class="stc-titles">Total Staff</div>
      <div class="stc-data">Number</div>
    </div>
    <div class="stc-right">
      <img src="/assets/Images/icons/white/ttlstaff.svg" />
    </div>
  </div>
</div>

<div class="detail-stats">
  <div class="active-user">
    <p class="stc-data">Active Users</p>
    <div class="actvu-subhead">
      <p class="actvu-data">(+23)&nbsp;</p> that last week
    </div>
    <div class="actvu-items">
      <div class="au-itm-top">
        <div class="au-itm-top-cont">
          <div class="au-itm-cont-box">
            <img src="/assets/Images/icons/white/wallet.svg" />
          </div>
          <p class="au-itm-cont-p">Users</p>
        </div>
        <div class="au-itm-num">28</div>
        <div class="au-itm-under"></div>
      </div>

      <div class="au-itm-top">
        <div class="au-itm-top-cont">
          <div class="au-itm-cont-box">
            <img src="/assets/Images/icons/white/crown.svg" />
          </div>
          <p class="au-itm-cont-p">Regular Users</p>
        </div>
        <div class="au-itm-num">28</div>
        <div class="au-itm-under"></div>
      </div>

      <div class="au-itm-top">
        <div class="au-itm-top-cont">
          <div class="au-itm-cont-box">
            <img src="/assets/Images/icons/white/rocket.svg" />
          </div>
          <p class="au-itm-cont-p">Returns</p>
        </div>
        <div class="au-itm-num">28</div>
        <div class="au-itm-under"></div>
      </div>

      <div class="au-itm-top">
        <div class="au-itm-top-cont">
          <div class="au-itm-cont-box">
            <img src="/assets/Images/icons/white/cart.svg" />
          </div>
          <p class="au-itm-cont-p">Rents</p>
        </div>
        <div class="au-itm-num">28</div>
        <div class="au-itm-under"></div>
      </div>

      <div class="au-itm-top">
        <div class="au-itm-top-cont">
          <div class="au-itm-cont-box">
            <img src="/assets/Images/icons/white/wrench.svg" />
          </div>
          <p class="au-itm-cont-p">Damages</p>
        </div>
        <div class="au-itm-num">28</div>
        <div class="au-itm-under"></div>
      </div>
    </div>
  </div>
  <div class="sales-ovrv">
    <p class="salesov-title">Sales Overview</p>
    <div class="salesov-subhead">
      <p class="salesov-data">(+5) more&nbsp;</p>in 2021
    </div>
    chart
  </div>
</div>

<div class="pagebtm-container">
  <div class="tables-container">
    <div class="table-style">
      <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Category</th>
            <th>Quantity</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{ product.code }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.quantity }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="table-style">
      table 2
    </div>
  </div>

  <div class="add-items">
    <button onclick="showstaffPopup()" class="add-item-button">
      <div class="add-item-container">
        <p class="additm-p">Add Staff</p>
        <div class="additm-icon-cont">
          <img src="/assets/Images/icons/white/addstaff.svg" />
        </div>
      </div>
    </button>

    <button onclick="showadminPopup()" class="add-item-button">
      <div class="add-item-container">
        <p class="additm-p">Add Admin</p>
        <div class="additm-icon-cont">
          <img src="/assets/Images/icons/white/addadmin.svg" />
        </div>
      </div>
    </button>
  </div>
</div>

<div class="popup-container" id="popupadmin">
    <div class="popup-child">
        <button onclick="hideadminPopup()" class="popup-close">
            <span class="oi oi-x" />
        </button>
        <text class="popup-title">Hajur ko Car Rental</text>
        <text class="popup-subhead">Sign Up Admin</text>

        <EditForm Model="@_registerModel">
            <InputText class="input-field " type="text" id="name" @bind-Value="@_registerModel.Name" placeholder="Name" required />
            <InputText class="input-field " type="text" id="phone" @bind-Value="@_registerModel.Phone" placeholder="Phone" required />
            <InputText class="input-field " type="text" id="address" @bind-Value="@_registerModel.Address" placeholder="Address" required />
            <InputText class="input-field " type="text" id="email" @bind-Value="@_registerModel.Email" placeholder="Email" required />
            <InputText class="input-field " type="password" id="password" @bind-Value="@_registerModel.Password" placeholder="Enter Password" required />
            <InputText class="input-field " type="password" id="confirmpassword" @bind-Value="@_confirmPassword" placeholder="Repeat Password" required />

            <button class="popup-button" type="submit">Register Now</button>
        </EditForm>
    </div>
</div>

<div class="popup-container" id="popupstaff">
    <div class="popup-child">
        <button onclick="hidestaffPopup()" class="popup-close">
            <span class="oi oi-x" />
        </button>
        <text class="popup-title">Hajur ko Car Rental</text>
        <text class="popup-subhead">Sign Up Staff</text>

        <EditForm Model="@_registerModel">
            <InputText class="input-field " type="text" id="name" @bind-Value="@_registerModel.Name" placeholder="Name" required />
            <InputText class="input-field " type="text" id="phone" @bind-Value="@_registerModel.Phone" placeholder="Phone" required />
            <InputText class="input-field " type="text" id="address" @bind-Value="@_registerModel.Address" placeholder="Address" required />
            <InputText class="input-field " type="text" id="email" @bind-Value="@_registerModel.Email" placeholder="Email" required />
            <InputText class="input-field " type="password" id="password" @bind-Value="@_registerModel.Password" placeholder="Enter Password" required />
            <InputText class="input-field " type="password" id="confirmpassword" @bind-Value="@_confirmPassword" placeholder="Repeat Password" required />
            <InputSelect class="input-field" name="designation" id="designation" @bind-Value="@_registerModel.Designation" required>
                <option value="" disabled hidden selected>Designation</option>
                <option value="mechanic">Mechanic</option>
                <option value="accountant">Accountant</option>
                <option value="helper">Helper</option>
            </InputSelect>

            <button class="popup-button" type="submit">Register Now</button>
        </EditForm>
    </div>
</div>
