<div class="pagetop-container">
    <div class="content-title">
        DASHBOARD
    </div>
</div>

<div class="stats-container">
    <div class="stc-container">
        <div class="stc-left">
            <div class="stc-titles">Total Cars</div>
            <div class="stc-data">Number</div>
        </div>
        <div class="stc-right">
            <img src="/assets/Images/icons/white/ttlcars.svg" />
        </div>    
    </div>

    <div class="stc-container">
        <div class="stc-left">
            <div class="stc-titles">Total Repairs</div>
            <div class="stc-data">Number</div>
        </div>
        <div class="stc-right">
            <img src="/assets/Images/icons/white/ttlrepairs.svg" />
        </div>    
    </div>

    <div class="stc-container">
        <div class="stc-left">
            <div class="stc-titles">Total Cars on Rent</div>
            <div class="stc-data">Number</div>
        </div>
        <div class="stc-right">
            <img src="/assets/Images/icons/white/ttlcorent.svg" />
        </div>    
    </div>

    <div class="stc-container">
        <div class="stc-left">
            <div class="stc-titles">Total Staff</div>
            <div class="stc-data">Number</div>
        </div>
        <div class="stc-right">
            <img src="/assets/Images/icons/white/ttlstaff.svg" />
        </div>    
    </div>
</div>

<div class="detail-stats">
    <div class="active-user">
        <p class="stc-data">Active Users</p>
        <div class="actvu-subhead">
            <p class="actvu-data">(+23)&nbsp;</p> that last week
        </div>
        <div class="actvu-items">
            <div class="au-itm-top">
                <div class="au-itm-top-cont">
                    <div class="au-itm-cont-box">
                        <img src="/assets/Images/icons/white/wallet.svg" />
                    </div>
                    <p class="au-itm-cont-p">Users</p>
                </div> 
                <div class="au-itm-num">28</div>
                <div class="au-itm-under"></div>
            </div>

            <div class="au-itm-top">
                <div class="au-itm-top-cont">
                    <div class="au-itm-cont-box">
                        <img src="/assets/Images/icons/white/crown.svg" />
                    </div>
                    <p class="au-itm-cont-p">Regular Users</p>
                </div> 
                <div class="au-itm-num">28</div>
                <div class="au-itm-under"></div>
            </div>

            <div class="au-itm-top">
                <div class="au-itm-top-cont">
                    <div class="au-itm-cont-box">
                        <img src="/assets/Images/icons/white/rocket.svg" />
                    </div>
                    <p class="au-itm-cont-p">Returns</p>
                </div> 
                <div class="au-itm-num">28</div>
                <div class="au-itm-under"></div>
            </div>

            <div class="au-itm-top">
                <div class="au-itm-top-cont">
                    <div class="au-itm-cont-box">
                        <img src="/assets/Images/icons/white/cart.svg" />
                    </div>
                    <p class="au-itm-cont-p">Rents</p>
                </div> 
                <div class="au-itm-num">28</div>
                <div class="au-itm-under"></div>
            </div>

            <div class="au-itm-top">
                <div class="au-itm-top-cont">
                    <div class="au-itm-cont-box">
                        <img src="/assets/Images/icons/white/wrench.svg" />
                    </div>
                    <p class="au-itm-cont-p">Damages</p>
                </div> 
                <div class="au-itm-num">28</div>
                <div class="au-itm-under"></div>
            </div>
        </div>
    </div>
    <div class="sales-ovrv">
        <p class="salesov-title">Sales Overview</p>
        <div class="salesov-subhead">
            <p class="salesov-data">(+5) more&nbsp;</p>in 2021
        </div>
        chart
    </div>
</div>

<div class="pagebtm-container">
    <div class="tables-container">
        <div class="table-style">
            table 1
        </div>
        <div class="table-style">
            table 2
        </div>
    </div>

    <div class="add-items">
        <button onclick="showstaffPopup()" class="add-item-button">
            <div class="add-item-container">
                <p class="additm-p">Add Staff</p>
                <div class="additm-icon-cont">
                    <img src="/assets/Images/icons/white/addstaff.svg" />
                </div>
            </div>
        </button>

        <button onclick="showadminPopup()" class="add-item-button">
            <div class="add-item-container">
                <p class="additm-p">Add Admin</p>
                <div class="additm-icon-cont">
                    <img src="/assets/Images/icons/white/addadmin.svg" />
                </div>
            </div>
        </button>
    </div>
</div>