<div class="pagetop-container">
  <div class="content-title">
      BILLING LIST
  </div>
</div>

<div class="tables-container">
  <div class="table-style">
    <p-table [value]="billList" [tableStyle]="{ 'min-width': '50rem' }" [rows]="10" [paginator]="true">
      <ng-template pTemplate="header">
        <tr class="table-data-format">
          <th>Rent ID</th>
          <th>Generated Date</th>
          <th>Total Amount</th>
          <th>Bill For</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-bill let-index="index">
        <tr class="table-data-format">
          <td>{{ bill.rentalId }}</td>
          <td>{{ bill.generatedDate | date}}</td>
          <td>{{ bill.totalAmount }}</td>
          <td>{{ bill.billFor }}</td>
          <td>
            <button>
              <div class="add-config-btn pointer" style="cursor: pointer" (click)="approveBill(bill)">
                Approve
              </div>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
