<div class="pagetop-container">
    <div class="content-title">
        OFFERS LIST
    </div>
    <button (click)="showofferPopup()">
      <div class="add-car-btn pointer">
        Add
      </div>
    </button>
</div>

<div class="tables-container">
    <div class="table-style">
      <p-table [value]="offerList" [tableStyle]="{ 'min-width': '50rem' }" [rows]="10" [paginator]="true">
        <ng-template pTemplate="header">
          <tr class="table-data-format">
            <th>Offer Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Discount</th>
            <th>Type</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-offer let-index="index">
          <tr class="table-data-format">
            <td>{{ offer.offerName }}</td>
            <td>{{ offer.startDate | date}}</td>
            <td>{{ offer.endDate  | date}}</td>
            <td>{{ offer.discount }}</td>
            <td>{{ offer.type }}</td>
            <td>
              <button (click)="populateForm(offer)">
                <div class="add-config-btn pointer">
                  Edit
                </div>
              </button>
              <button (click)="deleteOffer(offer)">
                <div class="act-delete-btn pointer">
                  Delete
                </div>
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
</div>

<p-dialog [(visible)]="offerVisible" [style]="{'width': '400px'}">
  <div class="popup-container" id="popupoffer">
    <div class="popup-child">
      <button (click)="hideofferPopup()" class="popup-close">
        <img src="/assets/Images/icons/close.svg">
      </button>
      <p class="popup-subhead">Add Offers</p>
      <form [formGroup]="offerForm" (submit)="doAction()">
        <input class="offer-field " type="text" formControlName="offerName" placeholder="Offer Name" required />
        <p-calendar formControlName="startDate" placeholder="Start Date" styleClass="offer-field"></p-calendar>
        <p-calendar formControlName="endDate" placeholder="End Date" styleClass="offer-field"></p-calendar>
        <input class="offer-field " type="text" formControlName="discount" placeholder="Discount" required />
        <input class="offer-field " type="text" formControlName="type" placeholder="Type" required />
        <div class="upload-btn-cont">
          <button class="upload-btn" type="submit">Upload Image</button>
          <img src="/assets/Images/icons/white/upload.svg" />
        </div>
        <button class="popup-button" type="submit">Add Now</button>
      </form>
    </div>
  </div>
</p-dialog>
