<div class="land-container">
    <p class="land-title">Hajur ko Car Rental Services</p>
    <div class="land-lower">
        <div class="landlower-text">
            <p class="landtext-subtitle">Need to rent a car?</p>
            <p class="landtext-subtitle">Your pick of rides at lowest prices.</p>
            <div class="landtext-content">Hajur ko Car Rental offer car rental services at affordable price for you. With a wide variety of car for your option, rent your desired car for the time you need.</div>
        </div>
        <img src="/assets/Images/visitor-land.jpg" class="landlower-img">
    </div>
</div>  
