.top-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2% 12% !important;
    box-shadow: 0px 2.5px 24px rgba(0, 0, 0, 0.25);
    padding: 1.5% 2.5% 1.5% 2.5%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
}

.nav-items{
    display: flex;
    justify-content: right !important;
    align-items: center;
    list-style: none;
}

.topnav-align{
    display: flex;
    justify-content: center !important;      
    align-items: center;
    color: #000000;
    margin-left: 27px;
}

.topnav-text{
    display: flex;
    justify-content: left;
    margin-left: 6px;
}

.topnav-icon{
    display: flex;
    justify-content: center;
}

div > div > a, div > a{
    text-decoration: none;
    color: #000000;
}