  <nav class="top-nav">
      <img src="/assets/Images/logo.png" />
      <div class="nav-items">
        <div *ngIf="!(is.admin || is.staff)">
          <a routerLink="login">
            <div class="topnav-align">
              <div class="topnav-icon"><img src="/assets/Images/icons/black/car-front.svg" /></div>
              <div class="topnav-text">View Cars</div>
            </div>
          </a>
        </div>

        <ng-container *ngIf="!is.loggedIn; else tLoggedIn">
          <a routerLink="login">
            <div class="topnav-align">
              <div class="topnav-icon"><img src="/assets/Images/icons/black/circ-add.svg" /></div>
              <div class="topnav-text">Login</div>
            </div>
          </a>

          <a routerLink="register">
            <div class="topnav-align">
              <div class="topnav-icon"><img src="/assets/Images/icons/black/user.svg" /></div>
              <div class="topnav-text">Register</div>
            </div>
          </a>
        </ng-container>

        <ng-template #tLoggedIn>
          <ng-container *ngIf="is.customer; else tNotCustomer">            
            <a routerLink="history">
              <div class="topnav-align">
                <div class="topnav-icon"><img src="/assets/Images/icons/black/clock-rewind.svg" /></div>
                <div class="topnav-text">History</div>
              </div>
            </a>
            
            <a routerLink="register">
              <div class="topnav-align">
                <div class="topnav-icon"><img src="/assets/Images/icons/black/user.svg" /></div>
                <div class="topnav-text">Profile</div>
              </div>
            </a>
            
            <a routerLink="register">
              <div class="topnav-align">
                <div class="topnav-icon"><img src="/assets/Images/icons/black/logout.svg" /></div>
                <div class="topnav-text">Logout</div>
              </div>
            </a>
          </ng-container>

        <ng-template #tNotCustomer>
          <li>Setting</li>
        </ng-template>

        </ng-template>

      </div>
  </nav>
